
//background color variables
$black-color: black;
$black-color1: #1d1d1d;
$white-color: white;
$red-color : red;
$green-color : green;


//text color variables
$text-black:#909096;
$text-black1:#515152;
$text-white:white;

//font family
$curly-font:Brush Script MT, cursive;
$h1-font: Lucida Console, monospace;